[package]
name = "foundry-evm-core"
description = "Core EVM abstractions"

version.workspace = true
edition.workspace = true

[dependencies]
foundry-cheatcodes-spec.workspace = true
foundry-common.workspace = true
foundry-macros.workspace = true

alloy-chains.workspace = true
alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-json-abi.workspace = true
alloy-primitives = { workspace = true, features = ["serde", "getrandom", "arbitrary", "rlp"] }
alloy-genesis.workspace = true
alloy-provider.workspace = true
alloy-transport.workspace = true
alloy-rpc-types.workspace = true
alloy-sol-types.workspace = true

revm = { workspace = true, features = [
    "std",
    "serde",
    "memory_limit",
    "optional_eip3607",
    "optional_block_gas_limit",
    "optional_no_base_fee",
    "arbitrary",
    "optimism",
    "c-kzg",
] }
revm-inspectors.workspace = true

auto_impl = "1"
derive_more.workspace = true
eyre = "0.6"
futures = "0.3"
hex.workspace = true
itertools.workspace = true
once_cell = "1"
parking_lot = "0.12"
rustc-hash.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror = "1"
tokio = { workspace = true, features = ["time", "macros"] }
tracing = "0.1"
url = "2"

[dev-dependencies]
edr_test_utils.workspace = true
tempfile = "3"

[features]
test-remote = []

[lints]
workspace = true
