[package]
name = "edr_solidity"
version = "0.3.5"
edition = "2021"

[dependencies]
edr_eth = { version = "0.3.5", path = "../edr_eth" }
edr_evm = { version = "0.3.5", path = "../edr_evm" }
alloy-json-abi = { version = "0.7.4" }
serde = { version = "1.0.158", default-features = false, features = ["std"] }
serde_json = { version = "1.0.89", features = ["preserve_order"] }
indexmap = { version = "2", features = ["serde"] }

[lints]
workspace = true
