[package]
name = "edr_solidity"
version.workspace = true
edition.workspace = true

[dependencies]
edr_eth = { version = "0.3.5", path = "../edr_eth" }
edr_evm = { version = "0.3.5", path = "../edr_evm" }

[lints]
workspace = true
