[workspace]
members = [
    # EDR
    "crates/edr_defaults",
    "crates/edr_eth",
    "crates/edr_napi",
    "crates/edr_provider",
    "crates/edr_solidity",
    "crates/edr_test_utils",
    "crates/tools",
    # Foundry
    "crates/foundry/cheatcodes",
    "crates/foundry/cheatcodes/spec",
    "crates/foundry/common",
    "crates/foundry/config",
    "crates/foundry/evm/core",
    "crates/foundry/evm/coverage",
    "crates/foundry/evm/evm",
    "crates/foundry/evm/fuzz",
    "crates/foundry/evm/traces",
    "crates/foundry/forge",
    "crates/foundry/macros",
    "crates/foundry/test-utils",
]
resolver = "2"

[workspace.package]
version = "0.3.8"
edition = "2021"

[profile.dev]
rpath = true
# Speed up compilation time for dev builds by reducing emitted debug info.
# NOTE: Debuggers may provide less useful information with this setting.
# Uncomment this section if you're using a debugger.
debug = 1

# Optimized release profile.
[profile.release]
rpath = true
opt-level = 3
lto = "fat"
panic = "abort"
codegen-units = 1

[profile.test]
opt-level = 2

# Speed up tests and dev build.
[profile.dev.package]
# Solc and artifacts
foundry-compilers.opt-level = 3
solang-parser.opt-level = 3
lalrpop-util.opt-level = 3
serde_json.opt-level = 3

# EVM
alloy-dyn-abi.opt-level = 3
alloy-json-abi.opt-level = 3
alloy-primitives.opt-level = 3
alloy-sol-type-parser.opt-level = 3
alloy-sol-types.opt-level = 3
hashbrown.opt-level = 3
keccak.opt-level = 3
revm-interpreter.opt-level = 3
revm-precompile.opt-level = 3
revm-primitives.opt-level = 3
revm.opt-level = 3
ruint.opt-level = 3
sha2.opt-level = 3
sha3.opt-level = 3
tiny-keccak.opt-level = 3
bitvec.opt-level = 3

# fuzzing
proptest.opt-level = 3
foundry-evm-fuzz.opt-level = 3

# keystores
scrypt.opt-level = 3

[workspace.dependencies]
forge = { path = "crates/foundry/forge" }

foundry-cheatcodes = { path = "crates/foundry/cheatcodes" }
foundry-cheatcodes-spec = { path = "crates/foundry/cheatcodes/spec" }
foundry-cli = { path = "crates/foundry/cli" }
foundry-common = { path = "crates/foundry/common" }
foundry-config = { path = "crates/foundry/config" }
foundry-evm = { path = "crates/foundry/evm/evm" }
foundry-evm-core = { path = "crates/foundry/evm/core" }
foundry-evm-coverage = { path = "crates/foundry/evm/coverage" }
foundry-evm-fuzz = { path = "crates/foundry/evm/fuzz" }
foundry-evm-traces = { path = "crates/foundry/evm/traces" }
foundry-macros = { path = "crates/foundry/macros" }
foundry-test-utils = { path = "crates/foundry/test-utils" }
foundry-linking = { path = "crates/foundry/linking" }

# solc & compilation utilities
foundry-block-explorers = { version = "0.2.7", default-features = false }
foundry-compilers = { version = "0.4.3", default-features = false }

## revm
# no default features to avoid c-kzg
revm = { version = "8", default-features = false }
revm-primitives = { version = "3", default-features = false }
revm-inspectors = { git = "https://github.com/paradigmxyz/evm-inspectors", rev = "c1b5dd0", features = [
    "serde",
] }

## ethers
ethers-contract-abigen = { version = "2.0.14", default-features = false }

## alloy
alloy-consensus = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-contract = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-eips = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-genesis = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-json-rpc = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-network = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-node-bindings = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-provider = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-pubsub = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-rpc-client = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-rpc-types-engine = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-rpc-types-trace = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-rpc-types = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-serde = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-signer = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-signer-wallet = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-signer-aws = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-signer-ledger = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-signer-trezor = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-transport = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-transport-http = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-transport-ipc = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-transport-ws = { git = "https://github.com/alloy-rs/alloy", rev = "899fc51", default-features = false }
alloy-primitives = { version = "0.7.1", features = ["getrandom"] }
alloy-dyn-abi = "0.7.1"
alloy-json-abi = "0.7.1"
alloy-sol-types = "0.7.1"
syn-solidity = "0.7.1"
alloy-chains = "0.1"
alloy-trie = "0.3.1"
alloy-rlp = "0.3.3"
solang-parser = "=0.3.3"

## misc
arrayvec = "0.7"
base64 = "0.22"
chrono = { version = "0.4", default-features = false, features = [
    "clock",
    "std",
] }
color-eyre = "0.6"
derive_more = "0.99"
evm-disassembler = "0.5"
eyre = "0.6"
hex = { package = "const-hex", version = "1.6", features = ["hex"] }
itertools = "0.12"
jsonpath_lib = "0.3"
k256 = "0.13"
similar-asserts = "1.5"
rand = "0.8"
rustc-hash = "1.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
strum = "0.26"
toml = "0.8"
tracing = "0.1"
tracing-subscriber = "0.3"
vergen = { version = "8", default-features = false }
indexmap = "2.2"
tikv-jemallocator = "0.5.4"
num-format = "0.4.4"
yansi = { version = "1.0", features = ["detect-tty", "detect-env"] }
tempfile = "3.10"
tokio = "1"

hyper = "1.0"
reqwest = { version = "0.12", default-features = false }
tower = "0.4"
tower-http = "0.5"
