[package]
name = "edr_eth"
version = "0.3.5"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
alloy-rlp = { version = "0.3", default-features = false, features = ["derive"] }
c-kzg = { version = "1.0.2", default-features = false }
hash-db = { version = "0.15.2", default-features = false }
hash256-std-hasher = { version = "0.15.2", default-features = false }
hashbrown = { version = "0.14.3", default-features = false, features = ["ahash", "allocator-api2", "inline-more"] }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
itertools = { version = "0.10.5", default-features = false, features = ["use_alloc"] }
k256 = { version = "0.13.1", default-features = false, features = ["arithmetic", "ecdsa", "pkcs8", ] }
log = { version = "0.4.17", default-features = false }
once_cell = { version = "1.18.0", default-features = false, features = ["alloc", "race", "std"] }
# revm-primitives = { version = "5.0", default-features = false, features = ["c-kzg", "hashbrown"] }
revm-primitives = { git = "https://github.com/NomicFoundation/revm", rev = "be50b38", version = "6.0", default-features = false, features = ["c-kzg", "hashbrown"] }
serde = { version = "1.0.147", default-features = false, features = ["derive"], optional = true }
sha2 = { version = "0.10.8", default-features = false }
sha3 = { version = "0.10.8", default-features = false }
thiserror = { version = "1.0.37", default-features = false }
tracing = { version = "0.1.37", features = ["attributes", "std"], optional = true }
triehash = { version = "0.8.4", default-features = false }

[dev-dependencies]
anyhow = "1.0.75"
assert-json-diff = "2.0.2"
edr_defaults = { version = "0.3.5", path = "../edr_defaults" }
edr_rpc_eth = { version = "0.3.5", path = "../edr_rpc_eth" }
edr_test_utils = { version = "0.3.5", path = "../edr_test_utils" }
lazy_static = "1.4.0"
paste = { version = "1.0.14", default-features = false }
serde_json = { version = "1.0.89" }
serial_test = "2.0.0"
tempfile = { version = "3.7.1", default-features = false }
tokio = { version = "1.23.0", features = ["macros"] }

[features]
default = ["std"]
rand = ["revm-primitives/rand"]
serde = ["dep:serde", "c-kzg/serde", "revm-primitives/serde"]
std = ["hash256-std-hasher/std", "hash-db/std", "hex/std", "itertools/use_std", "k256/std", "k256/precomputed-tables", "revm-primitives/std", "serde?/std", "sha2/std", "sha3/std", "triehash/std"]
test-remote = []
tracing = ["dep:tracing"]

[lints]
workspace = true
