[alias]
gen-execution-api       = "run --bin tools -- gen-execution-api"
scenario                = "run --release --bin tools -- scenario"
scenario-with-tracing   = "run --release --features tracing --bin tools -- scenario"
replay-block            = "run --release --bin tools -- replay-block"
generate-cheats-interface = "test -p foundry-cheatcodes-spec --features schema tests::"
op-chain-config         = "run --release --bin tools -- op-chain-config"