[package]
name = "foundry-evm-traces"
description = "EVM trace identifying and decoding"

version.workspace = true
edition.workspace = true

[dependencies]
edr_defaults.workspace = true

edr_common.workspace = true
foundry-evm-core.workspace = true

alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-json-abi.workspace = true
alloy-primitives = { workspace = true, features = ["serde", "getrandom", "arbitrary", "rlp"] }
alloy-sol-types.workspace = true
revm-inspectors.workspace = true

eyre = "0.6"
futures = "0.3"
hex.workspace = true
itertools.workspace = true
once_cell = "1"
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["time", "macros"] }
tracing = "0.1"
yansi.workspace = true

[dev-dependencies]
tempfile.workspace = true

[lints]
workspace = true
