[package]
name = "foundry-evm-traces"
description = "EVM trace identifying and decoding"

version.workspace = true
edition.workspace = true

[dependencies]
edr_artifact.workspace = true
edr_common.workspace = true
edr_decoder_revert.workspace = true
edr_defaults.workspace = true
foundry-evm-core.workspace = true

alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-json-abi.workspace = true
alloy-primitives = { workspace = true, features = [
    "serde",
    "getrandom",
    "arbitrary",
    "rlp",
] }
alloy-sol-types.workspace = true
revm.workspace = true
revm-inspectors.workspace = true

eyre = "0.6"
itertools.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["time", "macros"] }
tracing = "0.1"
url.workspace = true

[dev-dependencies]
tempfile.workspace = true

[lints]
workspace = true
