name: EDR

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

env:
  RUSTDOCFLAGS: -Dwarnings

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  check-edr:
    name: Check EDR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-rust

      # Install pre-built binaries for cargo hack
      - uses: taiki-e/install-action@cargo-hack

      - name: Cargo hack
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -Dwarnings
        with:
          command: hack
          args: check --feature-powerset --no-dev-deps

  test-edr-rs:
    name: Test EDR (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: check-edr
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-rust
        with:
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Cache EDR RPC cache
        uses: actions/cache@v2
        with:
          path: |
            **/edr-cache
          key: edr-rs-rpc-cache-v1

      - name: Run cargo tests (with coverage)
        uses: actions-rs/cargo@v1
        env:
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
          INFURA_URL: ${{ secrets.INFURA_URL }}
        with:
          command: llvm-cov
          args: --workspace --all-targets --all-features --codecov --output-path codecov.json

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: codecov.json
          name: ${{ matrix.os }}
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Doctests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --doc --workspace --features tracing

      # disable until:
      # 1) https://github.com/napi-rs/napi-rs/issues/1405 is resolved (Windows-only)
      # 2) https://github.com/nextest-rs/nextest/issues/871 (all platforms)
      # when re-enabled, remove "Run cargo test"

      # Nextest
      # - name: Install latest nextest release
      #   uses: taiki-e/install-action@nextest

      # - name: Test with latest nextest release
      #   uses: actions-rs/cargo@v1
      #   env:
      #     CARGO_INCREMENTAL: ${{ matrix.CARGO_INCREMENTAL }}
      #     ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
      #   with:
      #     command: nextest
      #     args: run --workspace --all-features --all-targets

  test-edr-ts:
    name: Test EDR TS bindings (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: check-edr
    strategy:
      fail-fast: false
      matrix:
        node: [18.15]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install Rust (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Cache EDR RPC cache
        uses: actions/cache@v2
        with:
          path: |
            **/edr-cache
          key: edr-ts-rpc-cache-v1

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Run tests
        env:
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
        run: cd crates/edr_napi && pnpm test

  edr-style:
    name: Check EDR Style
    runs-on: ubuntu-latest
    needs: check-edr
    steps:
      - uses: actions/checkout@v3

      - name: Install nightly rustfmt
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: fmt
          args: --all --check

      - name: Run cargo clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

  edr-docs:
    name: Build EDR Docs
    runs-on: ubuntu-latest
    needs: check-edr
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-rust

      - name: Cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --workspace --no-deps --all-features

  lint:
    name: Run Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Run lint script
        run: pnpm run lint

  edr-napi-typings-file:
    name: Check that edr_napi typings file is up to date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build edr_napi
        run: cd crates/edr_napi && pnpm build

      - name: Check that there are no uncommitted changes
        run: git diff --exit-code
