name: Run Hardhat tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  run-hardhat-tests:
    name: Run Hardhat tests (${{ matrix.os }}, Node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [20]
        os: ["macos-15", "ubuntu-24.04", "windows-2025"]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - uses: ./.github/actions/setup-node
        with:
          node-version: ${{ matrix.node }}

      - uses: ./.github/actions/setup-rust
        with:
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Cache network requests
        uses: actions/cache@v4
        with:
          path: |
            hardhat-tests/test/internal/hardhat-network/provider/.hardhat_node_test_cache
          key: hardhat-network-forking-tests-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Cache stack trace artifacts
        uses: actions/cache@v4
        with:
          path: |
            hardhat-tests/test/internal/hardhat-network/stack-traces/test-files/artifacts
          key: hardhat-network-stack-traces-tests-${{ hashFiles('hardhat-tests/test/internal/hardhat-network/stack-traces/test-files/**/*.sol') }}-${{ hashFiles('hardhat-tests/test/internal/hardhat-network/stack-traces/test-files/**/test.json') }}-${{ hashFiles('hardhat-tests/test/internal/hardhat-network/stack-traces/**/*.ts') }}

      - name: Run tests
        env:
          INFURA_URL: ${{ secrets.INFURA_URL }}
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
          DO_NOT_SET_THIS_ENV_VAR____IS_HARDHAT_CI: true
          FORCE_COLOR: 3
          NODE_OPTIONS: --max-old-space-size=4096
          DEBUG: "hardhat:core:hardhat-network:*"
        shell: bash
        run: |
          source <(cargo llvm-cov show-env --export-prefix)
          pnpm -C hardhat-tests test:ci
          # `--release` included to match `build:dev` compilation flags
          cargo llvm-cov report --release --locked --codecov --output-path codecov.json

  lint-hardhat-tests:
    name: Lint Hardhat tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - uses: ./.github/actions/setup-node

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build and lint
        run: cd hardhat-tests && pnpm lint
