name: Run Hardhat tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  run-hardhat-tests:
    name: Run Hardhat tests (${{ matrix.os }}, Node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    needs: check-edr
    strategy:
      fail-fast: false
      matrix:
        node: [18.15]
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install Rust (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Install package
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Cache network requests
        uses: actions/cache@v2
        with:
          path: |
            hardhat-tests/test/internal/hardhat-network/provider/.hardhat_node_test_cache
          key: hardhat-network-forking-tests-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Cache stack trace artifacts
        uses: actions/cache@v2
        with:
          path: |
            hardhat-tests/test/internal/hardhat-network/stack-traces/test-files/artifacts
          key: hardhat-network-stack-traces-tests-${{ hashFiles('hardhat-tests/test/internal/hardhat-network/stack-traces/test-files/**/*.sol') }}-${{ hashFiles('hardhat-tests/test/internal/hardhat-network/stack-traces/test-files/**/test.json') }}-${{ hashFiles('hardhat-tests/test/internal/hardhat-network/stack-traces/**/*.ts') }}

      - name: Build
        run: cd hardhat-tests && pnpm build

      - name: Run tests
        env:
          INFURA_URL: ${{ secrets.INFURA_URL }}
          ALCHEMY_URL: ${{ secrets.ALCHEMY_URL }}
          DO_NOT_SET_THIS_ENV_VAR____IS_HARDHAT_CI: true
          FORCE_COLOR: 3
          NODE_OPTIONS: --max-old-space-size=4096
        run: cd hardhat-tests && pnpm test
